<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>Mall商城API接口</h1>
    <p>自用接口</p>
    <p>我的博客：https://blog.juanertu.com/</p>
  </body>
</html>
